html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  box-sizing: border-box;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a { 
  text-decoration: none;
  color: #000;
}

a:hover { 
  transition: .3s;
  opacity: 0.6;
  cursor: pointer;
}

.inner {
width: 100%;
overflow: hidden;
}

section {
  margin-bottom: 120px;
  display: block;
}
@media screen and (max-width: 860px) {
  section {
    margin-bottom: 50px;
  }
}


/*========= header =========== */
.header {
  width: 100%;
}

.header-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  margin-left: 20px;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul li {
  margin-right: 50px;
}

#header-sp-btn {
  display: none;
}

#header-sp-menu {
  display: none;
}

@media screen and (max-width: 860px) {
  .header-nav {
    margin: 0;
  }
  .header nav ul li  {
    display: none;
  }

  #header-sp-btn {
    display: block;
    position: absolute;
    top: 35px;
    right: 35px;
    width: 30px;
    height: 30px;
    z-index: 10;
  }


  .header-sp-icon {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(172, 174, 175);
    z-index: 11;
  }

  .header-sp-icon:nth-of-type(1) {
    top: 0;
  }
  .header-sp-icon:nth-of-type(2) {
    top: 10px;
  }
  .header-sp-icon:nth-of-type(3) {
    top: 20px;
  }


  #header-sp-menu  {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 300px;
    padding: 20px;
    line-height: 4;
    z-index: 1;
  }

}

/* ========= mainvisual =========== */
.mainvisual {
  position: relative;
  height: 600px;
  width: 100%;
}

.mainvisual img {
  width: 70%;
  height: 500px;
  object-fit: cover;
  margin-left: 30%;
}

.mainvisual h2 {
  position: absolute;
  top: 30%;
  left: 20%;
  background: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  padding: 1rem;
}
.mainvisual::before  {
  content: '';
  background: #a7967d;
  height: 700px;
  width: 45%;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 860px) {
  .mainvisual {
    height: 100%;
  }

  .mainvisual h2 {
    font-size: 40px;
  }

  .mainvisual::before  {
    width: 60%;
    height: 400px;
  }

}

@media screen and (max-width: 480px) {
  .mainvisual h2 {
    font-size: 24px;
  }
}


/* ========= greeting =========== */
.greeting h2 {
  margin-bottom: 50px;
  text-align: center;
}

.greeting .contents {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.greeting .contents figure {
  width: 50%;
}

.greeting .content {
  width: 48%;
  padding: 0 20px;
}

@media screen and (max-width: 860px){
  .greeting {
    margin: 0;
    height: 100%;
  }
  .greeting .contents {
    display: block;
    position: relative;
  }

  .greeting .contents figure img {
    display: none;
  }
  .greeting .contents figure {
    display: block;
    width: 100%;
    height: 500px;
    opacity: .1;
    background:url(img/machine.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .greeting h2 {
    margin: 20px 0;
  }
  .greeting .contents .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width: 90%;
    overflow: scroll;
  }

}

/*========= work =========== */
.work {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.work::before {
  content: '';
  background: #a7967d;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.work h2 {
  margin-bottom: 60px;
  text-align: center;
}

.work ul {
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
}

.work ul li {
  width: 400px;
  padding: 0 20px;
}

.work ul li figure {
  margin: 0;
}

.work__imgwrap {
  background: #00002480;

}

.work__img {
  opacity: .5;
}

@media screen and (max-width: 860px){
  .work {
    padding-top: 0;
    margin-bottom: 30px;
  }
  .work::before {
    height: 50px;
  }
  .work h2 {
    line-height: 50px;
    margin-bottom: 30px;
  }

  .work ul {
    display: block;
    width: 100%;
  }

  .work ul li {
    display: block;
    padding: 10px;
    width: 100%;
  }

  .work ul li a {
    display: flex;
  }
  .work__imgwrap {
    width:40%;
    display: inline-block;
  }

  .work__text {
    width: 60%;
    margin-left: 10px;
    padding-right: 10px;
  }
  
}
@media screen and (max-width: 480px){
  .work h2 {
    line-height: 50px;
    margin-bottom: 30px;
  }

  .work ul {
    display: block;
    width: 100%;
  }

  .work ul li {
    display: block;
    padding: 0;
  }

  .work ul li a {
    display: block;
  }

  .work__imgwrap {
    width: 100%;
  }

  .work__text {
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
  }
  .work__text h3 {
    text-align: center;
  }
}

/*========= news =========== */
.news {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.news h2 {
  margin-bottom: 50px;
  text-align: center;
}

.news li {
  display: flex;
  border-bottom: dotted 1px #dedede;
  padding: 20px 0 20px 20px; 
}

.news li a {
  width: 20%;
  color:#333333;
}

.news li a:hover{
  opacity: 0.6;
}

.news li time {
  font-size: 0.75em;
  color: #949494;
  padding-right: 0px;
  margin-right: 80px;
}

.news li p {
  width: 80%;
}

@media screen and (max-width: 860px){
  .news h2 {
    background: #a7967d;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  .news {
    margin-bottom: 100px;
  }
}

/*========= recruit =========== */
.recruit {
  position: relative;
}

.recruit-img img {
  width: 80%;
  height:400px;
  margin-right:20%;
  object-fit: cover;
}

.recruit-img::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 400px;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.recruit h2 a {
  position: absolute;
  top: 45%;
  right: 52%;
  width: 250px;
  height: 60px;
  background-color: rgba(255,255,255,0.6);
  line-height: 60px;
  text-align: center;
}

.bg2 {
  position: absolute;
  background: #a7967d;
  height: 400px;
  width: 45%;
  top: -20%;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 860px){
  .recruit h2 a {
  top: 30%;
  right: 40%;
  width: 250px;
  height: 60px;
  line-height: 60px;
  }
}

@media screen and (max-width: 480px){
  .recruit h2 a {
  top: 30%;
  right: 30%;
  width: 200px;
  height: 40px;
  line-height: 40px;
  }

  .bg2 {
    position: absolute;
    background: #a7967d;
    height: 300px;
    width: 45%;
    top: -10%;
    right: 0;
    z-index: -1;
  }
}
/*========= footer =========== */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.adress {
  margin-left: 20px;
}

.adress p {
  line-height: 1.8;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-right: 50px;
}


.copylight p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  line-height: 100px;
  color: #333;
  background-color: #a7967d;
}

@media screen and (max-width: 860px) {
  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .adress {
    margin: 0 auto;
  }

  footer ul {
    display: block;
    margin: 0 auto ;
  }
}

@media screen and (max-width: 480px){
  .content-wrapper {
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }

  .adress h2 {
    font-size: 20px;
  }

  .adress p {
    font-size: 14px;
  }

  .content-wrapper ul li a {
    font-size: 14px;
  }
}

/*========= page-top =========== */
#page-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(143, 141, 138 ,0.7);
  display: flex;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.page-top__arrow {
  content: "";
  width: 1rem;
  height: 1rem;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(225deg);
  position: absolute;
  top: 40%;
  left: 30%;
}

#page-top:hover {
  opacity: 0.6;
  cursor: pointer;
}
